name: RAK BSP Arduino Build CI

on: [pull_request, push, repository_dispatch]

jobs:
  arduino:
    strategy:
      fail-fast: false
      matrix:
        arduino-platform: ["rak4631", "rak11200", "rak11300"]

    runs-on: ubuntu-18.04
    
    steps:
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - uses: actions/checkout@v2
    - uses: actions/checkout@v2
      with:
         repository:  RAKWireless/WisBlock-CI 
         path: ci

    - name: pre-install
      run: bash ci/actions_install.sh

    - name: extra libraries
      run: |
        /home/runner/work/WisBlock/WisBlock/bin/arduino-cli lib install SX126x-Arduino
        /home/runner/work/WisBlock/WisBlock/bin/arduino-cli lib install WisBlock-API
        /home/runner/work/WisBlock/WisBlock/bin/arduino-cli lib install Arduino_LPS22HB
        /home/runner/work/WisBlock/WisBlock/bin/arduino-cli lib install ArduinoRS485
        /home/runner/work/WisBlock/WisBlock/bin/arduino-cli lib install ArduinoModbus
        /home/runner/work/WisBlock/WisBlock/bin/arduino-cli lib install SD
        /home/runner/work/WisBlock/WisBlock/bin/arduino-cli lib install modbus-esp8266
        
        git clone --quiet https://github.com/adafruit/Adafruit-MCP23017-Arduino-Library --branch 1.3.0
        mv Adafruit-MCP23017-Arduino-Library /home/runner/Arduino/libraries/Adafruit-MCP23017-Arduino-Library
        git clone --quiet https://github.com/sparkfun/SparkFun_SHTC3_Arduino_Library
        mv SparkFun_SHTC3_Arduino_Library /home/runner/Arduino/libraries/SparkFun_SHTC3_Arduino_Library
        git clone --quiet https://github.com/closedcube/ClosedCube_OPT3001_Arduino
        mv ClosedCube_OPT3001_Arduino /home/runner/Arduino/libraries/ClosedCube_OPT3001_Arduino
        git clone --quiet https://github.com/sparkfun/SparkFun_LIS3DH_Arduino_Library
        mv SparkFun_LIS3DH_Arduino_Library /home/runner/Arduino/libraries/SparkFun_LIS3DH_Arduino_Library
        git clone --quiet https://github.com/adafruit/Adafruit_Sensor
        mv Adafruit_Sensor /home/runner/Arduino/libraries/Adafruit_Sensor
        git clone --quiet https://github.com/adafruit/Adafruit_BME680
        mv Adafruit_BME680 /home/runner/Arduino/libraries/Adafruit_BME680
        git clone --quiet https://github.com/BoschSensortec/BSEC-Arduino-library
        mv BSEC-Arduino-library /home/runner/Arduino/libraries/BSEC-Arduino-library
        git clone --quiet https://github.com/adafruit/Adafruit_TCS34725
        mv Adafruit_TCS34725 /home/runner/Arduino/libraries/Adafruit_TCS34725
        git clone --quiet https://github.com/hideakitai/TCS34725
        mv TCS34725 /home/runner/Arduino/libraries/TCS34725
        git clone --quiet https://github.com/sparkfun/SparkFun_TMP102_Arduino_Library
        mv SparkFun_TMP102_Arduino_Library /home/runner/Arduino/libraries/SparkFun_TMP102_Arduino_Library
        git clone --quiet https://github.com/sparkfun/SparkFun_SGP30_Arduino_Library
        mv SparkFun_SGP30_Arduino_Library /home/runner/Arduino/libraries/SparkFun_SGP30_Arduino_Library
        git clone --quiet https://github.com/neosarchizo/TinyGPS
        mv TinyGPS /home/runner/Arduino/libraries/TinyGPS
        /home/runner/work/WisBlock/WisBlock/bin/arduino-cli lib install U8g2
        /home/runner/work/WisBlock/WisBlock/bin/arduino-cli lib install nRF52_OLED
        git clone --quiet https://github.com/adafruit/Adafruit-GFX-Library
        mv Adafruit-GFX-Library /home/runner/Arduino/libraries/Adafruit-GFX-Library
        git clone --quiet https://github.com/sparkfun/SparkFun_MLX90632_Arduino_Library
        mv SparkFun_MLX90632_Arduino_Library /home/runner/Arduino/libraries/SparkFun_MLX90632_Arduino_Library
        git clone --quiet https://github.com/sparkfun/SparkFun_u-blox_GNSS_Arduino_Library
        mv SparkFun_u-blox_GNSS_Arduino_Library /home/runner/Arduino/libraries/SparkFun_u-blox_GNSS_Arduino_Library
        git clone --quiet https://github.com/adafruit/Adafruit_FRAM_I2C
        mv Adafruit_FRAM_I2C /home/runner/Arduino/libraries/Adafruit_FRAM_I2C
        git clone --quiet https://github.com/adafruit/Adafruit_SPIFlash --branch 3.5.1
        mv Adafruit_SPIFlash /home/runner/Arduino/libraries/Adafruit_SPIFlash
        git clone --quiet https://github.com/adafruit/SdFat
        mv SdFat /home/runner/Arduino/libraries/SdFat
        git clone --quiet https://github.com/adafruit/Adafruit_LPS2X
        mv Adafruit_LPS2X /home/runner/Arduino/libraries/Adafruit_LPS2X
        git clone --quiet https://github.com/adafruit/Adafruit_EPD
        mv Adafruit_EPD /home/runner/Arduino/libraries/Adafruit_EPD
        git clone --quiet https://github.com/adafruit/Adafruit_BusIO --branch 1.9.6
        mv Adafruit_BusIO /home/runner/Arduino/libraries/Adafruit_BusIO
        git clone --quiet https://github.com/adafruit/Adafruit_SSD1306
        mv Adafruit_SSD1306 /home/runner/Arduino/libraries/Adafruit_SSD1306
        git clone --quiet https://github.com/knolleary/pubsubclient
        mv pubsubclient /home/runner/Arduino/libraries/pubsubclient
        git clone --quiet https://github.com/arduino-libraries/Arduino_JSON
        mv Arduino_JSON /home/runner/Arduino/libraries/Arduino_JSON
        git clone --quiet https://github.com/adafruit/Adafruit_FRAM_I2C
        mv Adafruit_FRAM_I2C /home/runner/Arduino/libraries/Adafruit_FRAM_I2C
        git clone --quiet https://github.com/melopero/Melopero_RV-3028_Arduino_Library
        mv Melopero_RV-3028_Arduino_Library /home/runner/Arduino/libraries/Melopero_RV-3028_Arduino_Library
        git clone --quiet https://github.com/janelia-arduino/PCA9685
        mv PCA9685 /home/runner/Arduino/libraries/PCA9685
        git clone --quiet https://github.com/sparkfun/SparkFun_MAX3010x_Sensor_Library
        mv SparkFun_MAX3010x_Sensor_Library /home/runner/Arduino/libraries/SparkFun_MAX3010x_Sensor_Library
        git clone --quiet https://github.com/wollewald/INA219_WE
        mv INA219_WE /home/runner/Arduino/libraries/INA219_WE
        git clone --quiet https://github.com/stm32duino/VL53L0X
        mv VL53L0X /home/runner/Arduino/libraries/VL53L0X
        git clone --quiet https://github.com/stm32duino/Proximity_Gesture
        mv Proximity_Gesture /home/runner/Arduino/libraries/Proximity_Gesture

        # ESP32 specific libraries
        
        git clone --quiet https://github.com/h2zero/NimBLE-Arduino
        mv NimBLE-Arduino /home/runner/Arduino/libraries/NimBLE-Arduino
        git clone --quiet https://github.com/emelianov/modbus-esp8266
        mv modbus-esp8266 /home/runner/Arduino/libraries/modbus-esp8266
        git clone --quiet https://github.com/marian-craciunescu/ESP32Ping
        mv ESP32Ping /home/runner/Arduino/libraries/ESP32Ping
        git clone --quiet https://github.com/marian-craciunescu/ESP32Ping
        mv ESP32Ping /home/runner/Arduino/libraries/ESP32Ping

        # RAKwireless libraries
        
        git clone --quiet https://github.com/RAKWireless/RAK13005-TLE7259-Library
        mv RAK13005-TLE7259-Library /home/runner/Arduino/libraries/RAK13005-TLE7259-Library
        git clone --quiet https://github.com/RAKWireless/RAK-MQx-Library
        mv RAK-MQx-Library /home/runner/Arduino/libraries/RAK-MQx-Library
        git clone --quiet https://github.com/RAKWireless/RAK14001-NCP5623-Library
        mv RAK14001-NCP5623-Library /home/runner/Arduino/libraries/RAK14001-NCP5623-Library
        git clone --quiet https://github.com/RAKWireless/RAK14002-CAP1293-Library
        mv RAK14002-CAP1293-Library /home/runner/Arduino/libraries/RAK14002-CAP1293-Library
        git clone --quiet https://github.com/RAKWireless/RAK-ADS7830-Library
        mv RAK-ADS7830-Library /home/runner/Arduino/libraries/RAK-ADS7830-Library
        git clone --quiet https://github.com/RAKWireless/RAK12010-VEML7700-Library
        mv RAK12010-VEML7700-Library /home/runner/Arduino/libraries/RAK12010-VEML7700-Library
        git clone --quiet https://github.com/RAKWireless/RAK13600-PN532
        mv RAK13600-PN532 /home/runner/Arduino/libraries/RAK13600-PN532
        git clone --quiet https://github.com/RAKWireless/RAK12019_LTR390
        mv RAK12019_LTR390 /home/runner/Arduino/libraries/RAK12019_LTR390
        git clone --quiet https://github.com/RAKWireless/RAK13600-PN532
        mv RAK13600-PN532 /home/runner/Arduino/libraries/RAK13600-PN532
        git clone --quiet https://github.com/RAKWireless/RAK14012-LED-Matrix
        mv RAK14012-LED-Matrix /home/runner/Arduino/libraries/RAK14012-LED-Matrix
        git clone --quiet https://github.com/RAKWireless/RAK12021-TCS37725
        mv RAK12021-TCS37725 /home/runner/Arduino/libraries/RAK12021-TCS37725
        git clone --quiet https://github.com/RAKWireless/RAK12025-I3G4250D
        mv RAK12025-I3G4250D /home/runner/Arduino/libraries/RAK12025-I3G4250D
        git clone --quiet https://github.com/RAKWireless/RAK12035_SoilMoisture
        mv RAK12035_SoilMoisture /home/runner/Arduino/libraries/RAK12035_SoilMoisture
        git clone --quiet https://github.com/RAKWireless/RAKwireless_Storage
        mv RAKwireless_Storage /home/runner/Arduino/libraries/RAKwireless_Storage
        /home/runner/work/WisBlock/WisBlock/bin/arduino-cli lib install RAK13800_W5100S
        /home/runner/work/WisBlock/WisBlock/bin/arduino-cli lib install RAK12029-LDC1614

    - name: test platforms
      run: python3 ci/build_platform.py ${{ matrix.arduino-platform }}
